
.selected {
	color: white;
	background: rgb(190, 190, 190);
	font-weight: 600;
	height: 100%;
}

.test-surface {
	text-align: center;
	background: #ccc;
	margin: auto auto;
}

.leaderboard {
	background-color: white;
	height: 100%;
}

.inc {
	height: 42px;
	line-height: 42px;
	width: 200px;
	background: #ccc;
	border: 1px solid #aaa;
	border-radius: 4px;
	text-align: center;
	margin: auto;
}
